<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title> <%= title %></title>
</head>
<body>
    <h1>Social <%= title %></h1>

    <a href="/users/signup">Signup</a>

    <a href="/users/login">Login</a>

</body>
</html>